/*admin.css*/
/*stylesheet minimalis untuk page admin*/

body{
	font-family:Arial,sans-serif;
	color:black;
	background:#feea67;
	padding:10px;
}

a{
	display:inline-block;
	color:#0e86a4;
	text-decoration:none;
}

table, tr, th, td{
	border:1px solid black;
	border-collapse:collapse;
	padding:5px;
}
a:hover{
	opacity:0.8;
}

a:active{
	opacity:0.5;
}

textarea{
	width:400px;
	height:48pt;
}

label{
	width:150px;
	vertical-align:top;
	display:inline-block;
}

#message{
	border:1px dotted black;
	padding:10px;
	margin:10px 0px;
}

#message h3{
	margin:10px;
}