/*toystyle.css*/

/* bagian tag html */
body{
	background:black;
	margin:0px;
	padding:0px;
	font-family:Calibri,Arial,sans-serif;
}

h3{
	margin:10px;
}

input[type="text"], input[type="password"]{
	width:150px;
}
/* akhir bagian tag html */

#body{
	width:800px;
	background: grey;
	margin:0px auto;
	padding:0px;
}

/* bagian header */
#header{
	margin:0px auto;
	padding:0px;
	background:grey;
}

#header img{
	margin:0px;
	padding:0px;
	width:500px;
	float:left;
}

#user-login{
	width:240px;
	padding:10px;
	float:right;
	height:88px;
	border:3px solid black;

}

#user-login h4{
	margin:0px;
}

#user-login label{
	display:inline-block;
	width:4em;
}

#user-login span{
	color:blavk;
	font-weight:bold;
	font-size:16pt;
}

#signup label, #edit_profile label{
	display:inline-block;
	width:120px;
}

#navi{
	float:left;
	width:500px;
	margin:0px;
	padding:15px;
	list-style:none;
}

#navi li{
	display:inline-block;
	padding:0px;
	margin:0px auto;
	border:2px solid orange;
	border-radius:15px;
	overflow:hidden;
}

#navi li a{
	font-family:"Lucida Sans",Arial,sans-serif;
	font-weight:bold;
	text-decoration:none;
	color:#FF0000;
	display:block;
	padding:10px;
	background:#66FF33;
}

#navi li a:hover{
	background:#A8E6A8;
}
/* akhir bagian header */

/* bagian left-wing */
#left-wing{
	width:25%;
	height:100%;
	margin:0px;
	padding:0px;
	float:left;
}

#search-container{
	color:white;
	padding:10px;
	border:2px solid yellow;
	border-radius:25px;
	background:#000066;
}

#search-container h3{
	margin-top:0px;
}

#form-cari{
	margin-left:20px;
}

#mini-cart{
	padding:10px;
	color:#006B8F;
	border:2px dashed #00CC00;
	border-radius:25px;
	background:#99FF99;
}

#mini-cart h3{
	margin-top:0px;
}

#mini-cart table,#mini-cart tr, #mini-cart th,#mini-cart td{
	border:2px solid black;
	border-collapse:collapse;
	border-radius:0px;
	margin-left:10px;
}

#mini-cart th,#mini-cart td{
	height:30px;
	text-align:center;
}

#mini-cart th:nth-child(odd),td:nth-child(odd){
	width:50px;
}

#mini-cart th:nth-child(even),td:nth-child(even){
	width:110px;
}

#pesan{/* bukan 'message', tapi 'order' barang*/
	margin:10px 10px;
}

#kategori{
	color:#CC3399;
}

#kategori ul{
	list-style:none;
	
}

#kategori ul li a{
	color:#3333FF;
}

#kategori ul li a:hover{
	color:white;
}

#kategori ul li a:active{
	opacity:0.5;
}
/* akhir left-wing */

/* bagian main-content */
#main-content{
	float:right;
	padding:20px;
	margin:0px;
	width:550px;
	min-height:550px;
	background:white;
	border:1px solid transparent;
	border-radius:50px 0px 0px 0px;
}

#main-content table{
	border:0px;
}

/*untuk news box*/
#news{
	margin:10px;
	padding:20px;
	border:1px dotted blue;
}

#news h2{
	margin:0px 0px 1em 0px;
}

#news h4{
	margin:0px;
}
#news p{
	margin-top:0px;
	margin-bottom:0.5em;
}
/*akhir news box*/

/* untuk searchbox di product */
#form-cari-productsphp label{
	display:inline-block;
	width:100px;
}

/* untuk shopping-cart */
#shopping-cart table, #shopping-cart th,#shopping-cart td{
	border:1px solid black;
	border-collapse:collapse;
}

/*untuk contact us form*/
#contact_us{
	width:400px;
	margin:0px auto;
}

#contact_us table{
	margin:0px auto;
}

#contact_us td{
	vertical-align:top;
}

#contact_us input{
	width:200px;
}

#contact_us textarea{
	width:200px;
}

#edit_profile{
	padding-left:50px;
	margin:20px;
	width:400px;
	margin:0px auto;
}
/* akhir content */

/* bagian footer */
#footer{
	background:#FFFFCC;
	padding:20px;
	margin:0px;
	text-align:center;
}
/* akhir footer */

/* Bagian class */
.clearFloat{ /*untuk menghapus float*/
	clear:both;
}
