/*toystyle.css*/

body{
	background:black;
	margin:0px;
	padding:0px;
}

#header{
	background:white;
	width:500px;
	margin:0px auto;
	padding:0px;
	display:inline-block;
}

#left-wing{
	width:35%;
	height:100%;
	margin:0px;
	padding:0px;
	display:inline-block;
}

#content{
	width:65%;
	display:inline-block;
	background:white;
}

#footer{
	width:100%;
}